body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #e00a0a;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #692f2f;
}

.product {
    display: flex;
    padding: 20px;
}

.product-image {
    max-width: 300px;
    margin-right: 20px;
}

.product-details {
    max-width: 500px;
}
.rating .fa{
    color: orange;
}
cart-button {
    background-color: #007bff;
    color: #f4eeee;
}

.order-button {
    background-color: #28a745;
    color: #f5f2f2;
}

.related-products a {
    display: block;
    margin: 5px 0;
}

#cart-icon {
    position: relative;
}
 
.order-button {
    background-color: #28a745;
    color: #ebe6e6;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}
